:root {
    --color-white: #FFFFFF;
    --color-white-73: #FFFFFF73;
    --color-white-96: #FFFFFF96;
    --color-white-99: #FFFFFF99;
    --color-black: #000000;
    --color-bg-main: #060a15;
    --color-bg-navbar: rgba(0, 0, 0, 0);
    --color-bg-navbar-active: #060a15;
    --color-bg-btn-login: #FFFFFF;
    --color-bg-btn-register: #FFFFFF;
    --color-bg-gradient-login: linear-gradient(87.36deg, #F0A647 9.47%, #BA4C0E 128.61%);
    --color-bg-step-card: url('./src/img/Rectangle.svg');
    --color-bg-numberOne-card: radial-gradient(70.71% 70.71% at 50% 50%, rgba(186, 76, 14, 0.37) 0%, rgba(186, 76, 14, 0) 100%);
    --color-bg-footer: url('./src/img/bg-footer.webp');
    --color-bg-accordion: linear-gradient(90deg, rgba(255, 139, 68, 0.25) -20.71%, rgba(255, 119, 26, 0) 120.71%);
    --color-bg-btn: linear-gradient(87.36deg, #F0A647 9.47%, #BA4C0E 128.61%);
    --color-gradient: linear-gradient(87.36deg, #F0A647 9.47%, #BA4C0E 128.61%);
    --color-step-title: #FFFFFF;
    --color-card-body-text: #FFFFFF80;
    --color-btn-login-text: #000000;
    --color-btn-register-text: #000000;
    --color-accordion-header: #FFFFFF;
    --color-accordion-header-open: rgba(240, 166, 71, 1);
    --color-accordion-body: #FFFFFF80;
    --color-link: #FFFFFF96;
    --color-link-hover: #FFFFFF;
    --color-footer-text: #FFFFFF99;
    --color-bg-card-depoiments: linear-gradient(90deg, rgba(255, 139, 68, 0.25) -20.71%, rgba(255, 119, 26, 0) 120.71%);

}

@font-face {
    font-family: goodtiming;
    src: url('./src/font/goodtiming.otf');
}

@font-face {
    font-family: D-DIN-PRO-400-Regular;
    src: url('./src/font/D-DIN-PRO-400-Regular.otf');
}

@font-face {
    font-family: mundial;
    src: url('./src/font/MundialRegular.otf');
}

.btn,
h2,
h3,
h4,
h5 {
    font-family: goodtiming;
}

span,
li,
p,
.card-text {
    font-family: D-DIN-PRO-400-Regular;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
    background: var(--color-bg-main);
}

.container {
    @media screen and (max-width:768px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

section.hero {
    background-image: url('./src/img/background/bg-hero.webp');
    background-position-x: 30%;
    background-repeat: no-repeat;

    @media screen and (min-width:1024px) {
        background-position-y: center;
        background-size: cover;
        padding-bottom: 30vh;

    }
}

section.hero header {
    @media screen and (min-width:768px) {
        height: 87px;
        align-content: center;
    }
}

section.hero header nav.navbar {
    height: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

section.hero header nav.navbar.active {
    background: var(--color-bg-navbar-active);
}

section.hero header nav.navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}

section.hero header nav.navbar .navbar-container .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    z-index: 10;


    @media (max-width: 768px) {
        display: flex;
    }
}

section.hero header nav.navbar .navbar-container .hamburger .bar {
    height: 3px;
    width: 25px;
    background: var(--color-white);
    margin: 4px 0;
    transition: all 0.3s ease;
}

section.hero header nav.navbar .navbar-container .nav-menu {
    display: flex;
    gap: 1.25rem;
    margin-top: 0 !important;
}

section.hero header nav.navbar .navbar-container .nav-menu.btn_login_register {
    @media screen and (max-width: 768px) {
        padding-top: 2rem !important;
    }
}

section.hero header nav.navbar .navbar-container .nav-menu.btn_login_register a.btn {
    padding: 1rem 3rem !important;
    font-family: goodtiming;
    font-size: 14px;
    font-weight: 700;
    line-height: 12.61px;
    text-align: center;
    max-height: 45px;
    margin: auto;

}

section.hero header nav.navbar .navbar-container .nav-menu.btn_login_register a.btn.btn-login {
    background: none;
    border: 2.17px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 1);
    border-radius: 8.69px;
}

section.hero header nav.navbar .navbar-container .nav-menu.btn_login_register a.btn .btn-register {
    background: linear-gradient(87.36deg, #F0A647 9.47%, #BA4C0E 128.61%);
    box-shadow: 0px 22.44px 45.92px 0px rgba(186, 76, 14, 0.04);
    width: Hug (258px)px;
    height: Hug (45px)px;
    padding: 16px 48px 16px 48px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;

}

section.hero main .container {
    min-height: 70vh;
    align-items: center;
    height: 100%;
}

section.hero main .container h2.hero {
    font-family: goodtiming;
    font-size: 2rem;
    font-weight: 700;
    line-height: 48.86px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    ;

    @media screen and (min-width:768px) {}

    @media screen and (min-width:1024px) {
        font-size: 2.5rem;
    }

}

section.hero main .container p {
    font-family: D-DIN-PRO-400-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 29.08px;
    text-align: left;
    color: rgba(230, 230, 230, 1);
    max-width: 538px;

    @media screen and (min-width:1024px) {
        font-size: 18px;
    }

}

section.hero main .container a.btn {
    border-radius: 7.24px;
    padding: 16px 48px;
    box-shadow: 0px 20.3px 41.55px 0px rgba(186, 76, 14, 0.04);
    font-family: goodtiming;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: center;


}

section.steps {}

section.steps h2 {
    font-family: goodtiming;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;

    @media screen and (min-width:1024px) {
        font-size: 28.95px;
    }

}

section.steps .step-title h5 {
    color: var(--color-step-title);
    font-family: goodtiming;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;

    @media screen and (min-width:1024px) {
        font-size: 30px;
    }
}

section.steps .card.card.step-card section.steps .card.card.step-card .card-body p.card-text {
    font-size: .9rem !important;
}

section.steps a.btn.acount {
    padding: 16px 48px 16px 48px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    font-family: goodtiming;

}

section.premium {}

section.numberOne {}

section.numberOne h2 {
    font-family: goodtiming;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;

    @media screen and (min-width:1024px) {
        font-size: 30px;
    }

}

section.numberOne .card {
    background: var(--color-bg-numberOne-card);
    color: var(--color-white);
    border-radius: 2rem;
    padding: 2rem;
    min-height: 28rem;
    border-top: 2px solid var(--color-accordion-header-open);
    margin-bottom: 1rem;
    transition: all .5s ease;
}

section.numberOne .card:hover {
    border-top: 0;
    border-bottom: 2px solid var(--color-accordion-header-open);
}

section.numberOne .card h5.card-title {
    font-family: goodtiming;
    font-size: 25px;
    font-weight: 700;
    line-height: 36.02px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 1rem;
}

section.numberOne .card p.card-text {
    font-family: D-DIN-PRO-400-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: (255, 255, 255, 1);
}

section.numberOne a.btn.acount {
    padding: 16px 48px 16px 48px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    background: linear-gradient(80.97deg, #F0A647 50%, #F0A647 50%, #BA4C0E 70%, #F0A647 100%);
    box-shadow: 0px 24px 96px -21px rgba(186, 76, 14, 0.54);
    font-family: goodtiming;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

section.mockUp h2 {
    font-family: goodtiming;
    font-size: 28.95px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

section.opnions h2 {
    font-family: goodtiming;
    font-size: 24px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;

    @media screen and (min-width:1024px) {
        font-size: 28px;
    }
}

section.opnions .carousel {
    position: relative;
    overflow: hidden;
}

section.opnions .carousel-items {
    position: relative;
    display: flex;
    max-width: 80% !important;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    align-items: center;
    min-height: 40vh;
    transition: transform 0.5s ease;

    @media screen and (max-width: 500px) {
        min-height: 50vh;
    }

    @media screen and (min-width: 501px) and (max-width: 768px) {
        min-height: 55vh;
    }

    @media screen and (min-width: 768px) {
        min-height: 42vh;
    }
}

section.opnions .carousel-items .item {
    position: relative;
    flex: 0 0 33.33%;
    /* Ajuste para o número de itens visíveis */
    max-width: 33.33%;
    margin: 0 10px;
    text-align: center;
    transition: transform 0.5s ease;
    /* Suavizar a transformação */
    transform: scale(0.8);
    background: linear-gradient(90deg, rgba(255, 139, 68, 0.25) -20.71%, rgba(255, 119, 26, 0) 120.71%);
    border-radius: 1rem;
    padding: 56px 32px 56px 32px;

    @media screen and (max-width: 500px) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @media screen and (min-width: 768px) {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @media screen and (min-width: 1024px) {
        flex: 0 0 34%;
        max-width: 34%;
    }

}

section.opnions .carousel-items .item img {
    width: 100%;
    max-width: 4rem;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

section.opnions .carousel-items .item h5 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
}

section.opnions .carousel-items p {
    font-size: 14px;
    color: rgba(230, 230, 230, 1);
}

section.opnions .carousel-items .item .description-container {
    column-count: 2;
    column-gap: 0;
    display: inline-block;
}

section.opnions .carousel-items .item .description {
    max-width: 250px;
    margin: 0 auto;
    display: none;
}

section.opnions .carousel-items .active {
    transform: scale(1);
}

section.opnions .carousel-items .active .description {
    display: block;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider-prev svg,
.slider-next svg {
    width: 1.25rem;
    fill: #fff;
}

.slider-prev {
    left: 10px;
    /* Ajuste a posição */
}

.slider-next {
    right: 10px;
    /* Ajuste a posição */
}

section.opnions a.btn.acount {
    font-family: goodtiming;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    padding: 16px 48px 16px 48px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    background: linear-gradient(83.51deg, #F0A647 50%, #F0A647 50%, #BA4C0E 70%, #F0A647 100%);
    box-shadow: 0px 24px 96px -21px rgba(186, 76, 14, 0.54);


}

section.duvidas h2.titlesSection {
    font-family: goodtiming;
    font-size: 28.95px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
}

section.duvidas h2.titleRow {
    font-family: goodtiming;
    font-size: 28.95px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;

    @media screen and (min-width:1024px) {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

}

section.duvidas a.btn.acount {
    cursor: pointer;
    width: Hug(582.78px) px;
    height: Hug(57.78px) px;
    top: 4274.44px;
    left: 348.61px;
    padding: 16px 48px 16px 48px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    background: linear-gradient(83.51deg, #F0A647 50%, #F0A647 50%, #BA4C0E 70%, #F0A647 100%);
    box-shadow: 0px 24px 96px -21px rgba(186, 76, 14, 0.54);
    color: rgba(0, 0, 0, 1);
    font-family: goodtiming;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: center;


}

footer {}


/* ajustando */

@media (max-width: 768px) {


    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background: var(--color-bg-navbar-active);
        z-index: 5;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
        border-bottom: solid 2px var(--color-accordion-header-open);
    }

    .nav-menu.active {
        opacity: 1;
        max-height: 18.75rem;
        padding-bottom: 2rem;
        margin-top: 1rem;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -10px);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


section.steps .card.step-card {
    background: var(--color-bg-step-card);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 14rem;
    background-position-y: center;
}

section.steps .card.step-card .card-body {
    align-content: center;
    text-align: left;
}


@media screen and (max-width:768px) {
    section.steps .card.step-card .card-body {
        padding-left: 1rem !important;
    }
}

@media screen and (max-width:500px) {
    section.steps .card.step-card .card-body {
        padding-left: 2.5rem !important;
        padding-right: 1.7rem !important
    }
}



section.mockUp svg,
section.mockUp img {
    /* width: 100%; */
}

section.mockUp img.computer {
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    transition: transform 0.5s ease;
    transform: scale(.9);
}

section.mockUp img.efeito {
    /* width: 100%; */
    max-width: 15rem;
    position: absolute;
    left: 0;
    transform: translateY(150%) translateX(40%) scale(.8);
    transition: transform 0.5s ease;
}

@media screen and (max-width:500px) {

    section.mockUp img.efeito {
        max-width: 4rem;
    }
}


section.duvidas {}

footer {
    background-image: var(--color-bg-footer);
    background-repeat: no-repeat;
    padding-top: 3rem;
}

footer p.direitos {
    color: var(--color-footer-text);
    font-size: 10px;
    margin-top: 1rem;
    line-height: 1rem;
}

footer .footer-text-align-logo {
    align-self: center;

    @media screen and (max-width:768px) {
        text-align-last: center;
    }
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: .3rem;
}

footer ul li a {
    font-size: 14px;
    text-decoration: none;
    fill: var(--color-link);
    color: var(--color-link);
    transition: all .5s;
}

footer ul li a:hover {
    fill: var(--color-link-hover);
    color: var(--color-link-hover);
    transition: all .5s;
}

footer ul.list-group .title-list h3 {
    color: var(--color-white);
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.25rem;
}

footer ul.list-group .list-group-item {
    background: transparent;
    padding: 0;
}

footer .link-media-social svg {
    height: 1.5625rem !important;
}

footer ul li a.link-media-social {
    border-radius: .5rem;
    padding: .5rem;
    transition: all .5s;
    margin-left: .5rem;
}

footer ul li a.link-media-social:hover {
    background: var(--color-accordion-header-open);
    border-radius: .5rem;
    color: var(--color-bg-navbar-active) !important;
    fill: var(--color-bg-navbar-active);
}

footer .endPage {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-footer-text);
}

/* Ícone */
.icon {
    font-weight: bold;
    transition: transform 0.3s;
}

/* Rotaciona o ícone quando o corpo está aberto */
.accordion-body.open+.accordion-header .icon {
    transform: rotate(45deg);
}

/* funções generalizadas */
section:nth-child(n+2) {
    margin-top: 10rem;
}

h2.hero {
    color: var(--color-white);
    font-size: 2.5rem;
}

h2 {
    color: var(--color-white);
    font-size: 2.5rem;
}

@media screen and (max-width:768px) {
    h2.hero {
        color: var(--color-white);
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

p {
    color: rgba(230, 230, 230, 1);
}

a.btn {
    background: var(--color-bg-btn);
    padding: .5rem 3rem;
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
    transition: all .5s ease;
}

a.btn:hover {
    transform: scale(1.1);
}

a.btn.acount {
    padding: 1rem 2.5rem;
    font-size: 1rem;
}

.accordion {
    width: 100%;
}

.accordion-item {
    padding: 0px;
    margin-bottom: 16px;
    transition: 0.5s all ease;
    border-radius: 16px;
    background: var(--color-bg-accordion);
}

.accordion-header {
    cursor: pointer;
    padding: 1.25rem;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1;
    color: var(--color-accordion-header);
}

.accordion-header.open {
    color: var(--color-accordion-header-open);
}

.accordion-body {
    padding: 0 1.25rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    display: none;
    color: var(--color-accordion-body);
    font-size: .9rem;
}

.accordion h2,
.accordion .accordion-body {
    font-family: 'D-DIN-PRO-400-Regular';
}

.accordion-body.open {
    max-height: 28rem;
    padding: 0 1.25rem 1.25rem 1.25rem;
    display: block;
}